<h1> $ COOKIE BASE </h1>

{{#each bases}}
<a href="/configurator/base-select/{{this.[0]}}"> baza ciastka: {{this.[0]}} 
$ = {{this.[1]}} PLNxx </a>
{{/each}}


<h2> $ ADDS FOR COOKIE </h2>
{{#each adds}}

    {{#if (isNotInArray @root.cookie.addon this.[0])}}
    <a href="/configurator/aditions/{{this.[0]}}"> Dodatek: {{this.[0]}} = {{this.[1]}}pln</a>
    {{/if}}  
    
{{/each}}

{{#if cookie.base}}
    {{> previe_cookies}}
    {{> adds}}
    <a href="/order/summary" class="><img src="" class="">KUP TERAZ</a>
{{/if}}

{{!-- {{commented expressions}} --}}
{{!-- {{<button> zamiast guzika ma byc link/ dodateczki; {{this.[0]}} $ = {{this.[1]}} </button>}} --}}
