<h1> bases for cookie </h1>

{{#each bases}}
<button> zamiast guzika ma być link/ baza; {{this.[0]}} $ = {{this.[1]}} </button>
{{/each}}

{{#each bases}}
<a href="/configurator_file/base-select/{{this.[0]}}"> baza=> {{this.[0]}} 
$ = {{this.[1]}} PLN </a>
{{/each}}

<h2> adds for cookies </h2>
{{#each adds}}
<button> zamiast guzika ma byc link/ dodateczki; {{this.[0]}} $ = {{this.[1]}} </button>
{{/each}}

{{> previe_cookies}}

