<h3> SUMMARY OF COOKIE </h3>

<ul>
    <li>{{cookie.base}} : {{priceFinder bases cookie.base}} PLN</li>
    {{#each cookie.addon}}
    <li>dodatek {{this}} : {{priceFinder @root.adds this}} pln <a href="/configurator/del/{{this}}">usun</a></li>
    {{/each}}
</ul>

<p> TOTAL $ OF SUMMARY {{sum}} pln </P>
